*{
    box-sizing: border-box;
}
strong{
    font-weight: bold;
}
/*-----------------------------------------*/
.messages_container {
    display: flex;
    flex-direction: column;
    margin-top: 102px;
}

.message_box {
    background-color: #FFFFFF;
    width: 100%;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.time {
    color: #AAAAAA;
    margin-left: 8px;
    margin-right: 8px;
}

.message {
    margin-right: 9px;
}

.ENTERorEXIT {
    background-color: #DCDCDC;
}
/*-----------------------------------------*/
.top_bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.logo {
    margin-left: 22px;
}

.people_button {
    margin-right: 22px;        
    font-size: 48px;
}
/*-----------------------------------------*/
.bottom_bar {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.send_button {
    margin-right: 18px;
    font-size: 36px;
}

.input_message {
    width: 77%;
    height: 30px;
    margin-left: 17px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    border: none;
}

::placeholder {
    color: #000000;
}